<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">

  <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Click</button>
  <div class="row p-2" *ngIf="msg.name">
    <div class="alert alert-{{msg.status}}">
        <strong>{{msg.name}}!</strong> Receiving message: {{ msg.desc }}.
    </div>
  </div>

  <div class="row">
    <div class="col-2">
        <p>Food Uppercase</p>
      <ul>
        <li *ngFor="let food of foods">
          {{ food }}
        </li>
      </ul>
    </div>
    <div class="col-2">
        <p>Foods Operatos</p>
      <ul>
        <li *ngFor="let food of foodsVowel">
          {{ food }}
        </li>
      </ul>
    </div>
    <div class="col-2">
        <p>Food Async URL</p>
        <ul>
          <li *ngFor="let food of foodsjson">
            {{ food.id }}  {{ food.name}}
          </li>
        </ul>
      </div>
      <div class="col-2">
          <p>Elapse 1 sec</p>
          <ul>
            <li *ngFor="let food of foodsE">
              {{ food }}
            </li>
          </ul>
      </div>
      <div class="col-2">
          <p>Resubcribe</p>
          <ul>
            <li *ngFor="let food of foodsR">
              {{ food }}
            </li>
          </ul>
      </div>
      <div class="col-2">
        <p>Resubcribe when</p>
        <ul>
          <li *ngFor="let food of foodsRW">
            {{ food }}
          </li>
        </ul>
    </div>
  </div>
  
</div>
<app-food-list></app-food-list>


<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ">Title</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
